<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>ConnectingDots01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{44, 44}, {526, 80}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{526, 80}</string>
			<key>spriteSourceSize</key>
			<string>{616, 172}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {526, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ConnectingDots02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{44, 44}, {526, 80}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{526, 80}</string>
			<key>spriteSourceSize</key>
			<string>{616, 172}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{528, 0}, {526, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ConnectingDots03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{44, 44}, {526, 80}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{526, 80}</string>
			<key>spriteSourceSize</key>
			<string>{616, 172}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1056, 0}, {526, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ConnectingDots04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{44, 44}, {526, 80}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{526, 80}</string>
			<key>spriteSourceSize</key>
			<string>{616, 172}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 82}, {526, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ConnectingDots05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{44, 44}, {526, 80}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{526, 80}</string>
			<key>spriteSourceSize</key>
			<string>{616, 172}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{528, 82}, {526, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ConnectingDots06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{44, 44}, {526, 80}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{526, 80}</string>
			<key>spriteSourceSize</key>
			<string>{616, 172}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1056, 82}, {526, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ConnectingDots07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{44, 44}, {526, 80}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{526, 80}</string>
			<key>spriteSourceSize</key>
			<string>{616, 172}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 164}, {526, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ConnectingDots08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{44, 44}, {526, 80}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{526, 80}</string>
			<key>spriteSourceSize</key>
			<string>{616, 172}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{528, 164}, {526, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ConnectingDots09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{44, 44}, {526, 80}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{526, 80}</string>
			<key>spriteSourceSize</key>
			<string>{616, 172}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1056, 164}, {526, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ConnectingDots10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{44, 44}, {526, 80}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{526, 80}</string>
			<key>spriteSourceSize</key>
			<string>{616, 172}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 246}, {526, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ConnectingDots11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{44, 44}, {526, 80}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{526, 80}</string>
			<key>spriteSourceSize</key>
			<string>{616, 172}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{528, 246}, {526, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ConnectingDots12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{44, 44}, {526, 80}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{526, 80}</string>
			<key>spriteSourceSize</key>
			<string>{616, 172}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1056, 246}, {526, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ConnectingDots13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{44, 44}, {526, 80}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{526, 80}</string>
			<key>spriteSourceSize</key>
			<string>{616, 172}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 328}, {526, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ConnectingDots14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{44, 44}, {526, 80}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{526, 80}</string>
			<key>spriteSourceSize</key>
			<string>{616, 172}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{528, 328}, {526, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ConnectingDots15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{44, 44}, {526, 80}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{526, 80}</string>
			<key>spriteSourceSize</key>
			<string>{616, 172}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1056, 328}, {526, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ConnectingDots16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{44, 44}, {526, 80}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{526, 80}</string>
			<key>spriteSourceSize</key>
			<string>{616, 172}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 410}, {526, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ConnectingDots17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{44, 44}, {526, 80}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{526, 80}</string>
			<key>spriteSourceSize</key>
			<string>{616, 172}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{528, 410}, {526, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ConnectingDots18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{44, 44}, {526, 82}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{526, 82}</string>
			<key>spriteSourceSize</key>
			<string>{616, 172}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1056, 410}, {526, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ConnectingDots19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{41, 40}, {532, 90}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{532, 90}</string>
			<key>spriteSourceSize</key>
			<string>{616, 172}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 494}, {532, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ConnectingDots20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{29, 27}, {556, 116}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{556, 116}</string>
			<key>spriteSourceSize</key>
			<string>{616, 172}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{534, 494}, {556, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ConnectingDots21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 21}, {564, 128}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{564, 128}</string>
			<key>spriteSourceSize</key>
			<string>{616, 172}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1092, 494}, {564, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ConnectingDots22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 21}, {564, 128}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{564, 128}</string>
			<key>spriteSourceSize</key>
			<string>{616, 172}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 624}, {564, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ConnectingDots23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 36}, {538, 98}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{538, 98}</string>
			<key>spriteSourceSize</key>
			<string>{616, 172}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{566, 624}, {538, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ConnectingDots24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{41, 40}, {532, 90}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{532, 90}</string>
			<key>spriteSourceSize</key>
			<string>{616, 172}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1106, 624}, {532, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ConnectingDots25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{44, 43}, {526, 84}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{526, 84}</string>
			<key>spriteSourceSize</key>
			<string>{616, 172}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 754}, {526, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ConnectingDots26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{44, 44}, {526, 80}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{526, 80}</string>
			<key>spriteSourceSize</key>
			<string>{616, 172}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{528, 754}, {526, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ConnectingDots27.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{44, 44}, {526, 80}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{526, 80}</string>
			<key>spriteSourceSize</key>
			<string>{616, 172}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1056, 754}, {526, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ConnectingDots28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{44, 44}, {526, 80}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{526, 80}</string>
			<key>spriteSourceSize</key>
			<string>{616, 172}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 840}, {526, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ConnectingDots29.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{44, 44}, {526, 80}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{526, 80}</string>
			<key>spriteSourceSize</key>
			<string>{616, 172}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{528, 840}, {526, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>Untitled 2</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>ConnectingDots</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>ConnectingDots</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>